@import url("https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@500;700&display=swap");
*,
*::before,
*::after {
  box-sizing: inherit;
}

.about_me_page {
  min-height: 100vh;
  height: 300vh;
  position: relative;
  width: 100%;
  background-color: transparent;
  font-family: "Bitter", serif;
  overflow-y: overlay;
}

.about_me_content {
  width: 100%;
}

.about_me_content > h1 {
  font-size: 4.8rem;
  position: relative;
  color: #1C494C;
  text-align: justify;
  font-family: "Bitter", serif;
  left: 6rem;
}

.about_me_main {
  position: relative;
  top: 12rem;
  z-index: 0;
}

.about_me_content > h1::before {
  content: "<h2>";
  font-family: "La Belle Aurore", cursive;
  font-weight: 100;
  color: rgb(140, 137, 137);
  left: -4rem;
  font-size: 1.25rem;
  bottom: 4rem;
  position: absolute;
}

.about_underline {
  content: "";
  position: relative;
  left: 12rem;
  height: 4px;
  display: block;
  margin-top: 1px;
  width: 3.5rem;
  bottom: 0.5rem;
  background: #9bdabe;
  left: 6rem;
  width: 10.5rem;
}

.about_me_content > h1::after {
  content: "</h2>";
  font-family: "La Belle Aurore", cursive;
  font-weight: 100;
  color: rgb(140, 137, 137);
  left: -4rem;
  top: 5rem;
  font-size: 1.25rem;
  position: absolute;
  top: 7rem;
}

.about_dot {
  content: ".";
  font-family: "Bitter", serif;
  border-radius: 8px;
  height: 13px;
  width: 13px;
  display: block;
  position: relative;
  bottom: 1.6rem;
  background: #9bdabe;
  bottom: 2rem;
  left: 28rem;
}

.about_content {
  position: relative;
  line-height: 1.5;
  top: 7rem;
  width: 70%;
  left: 12rem;
  font-size: 1.3rem;
  text-align: left;
  font-family: "Bitter", serif;
}

.about_me_para_1 {
  position: relative;
  top: 10rem;
  left: 3rem;
  line-height: 1.5;
  width: 50%;
  font-size: 1.2rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 300;
  color: #1C494C;
  text-align: left;
}

.about_me_para2 {
  position: relative;
  top: 10rem;
  left: 15rem;
  line-height: 1.5;
  width: 40%;
  font-size: 1.2rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 300;
  color: #1C494C;
  text-align: left;
}

.about_me_para3 {
  position: relative;
  top: 10rem;
  left: 3rem;
  line-height: 1.5;
  width: 50%;
  font-size: 1.2rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 300;
  color: #1C494C;
  text-align: left;
}

.about_me_para3 span {
  display: block;
}

.about_me_para2 span {
  display: block;
}

.about_me_para2 span:last-of-type {
  margin-top: 2rem;
}

.about_me_para3 span:last-of-type {
  margin-top: 2rem;
}

.about_me_para_1 a {
  text-decoration: none;
  color: #1C494C;
}

.about_me_para_1 > span {
  position: relative;
  top: 2rem;
  text-align: left;
}

.about_me_para_1::before {
  content: "<p>";
  font-family: "La Belle Aurore", cursive;
  font-weight: 100;
  color: rgb(140, 137, 137);
  left: -4rem;
  top: 8rem;
  font-size: 1.25rem;
  position: absolute;
  top: -2rem;
  left: -2rem;
}

.about_me_para_1::after {
  content: "</p>";
  font-family: "La Belle Aurore", cursive;
  font-weight: 100;
  color: rgb(140, 137, 137);
  left: -4rem;
  top: 29rem;
  font-size: 1.25rem;
  position: absolute;
  top: 18.5rem;
  left: -2rem;
}

.about_me_para2::before {
  content: "<p>";
  font-family: "La Belle Aurore", cursive;
  font-weight: 100;
  color: rgb(140, 137, 137);
  left: -4rem;
  top: 8rem;
  font-size: 1.25rem;
  position: absolute;
  top: -2rem;
  left: -2rem;
}

.about_me_para3::before {
  content: "<p>";
  font-family: "La Belle Aurore", cursive;
  font-weight: 100;
  color: rgb(140, 137, 137);
  left: -4rem;
  top: 8rem;
  font-size: 1.25rem;
  position: absolute;
  top: -2rem;
  left: -2rem;
}

.about_me_para3::after {
  content: "</p>";
  font-family: "La Belle Aurore", cursive;
  font-weight: 100;
  color: rgb(140, 137, 137);
  left: -4rem;
  top: 29rem;
  font-size: 1.25rem;
  position: absolute;
  top: 17.5rem;
  left: -2rem;
}

.about_me_para2::after {
  content: "</p>";
  font-family: "La Belle Aurore", cursive;
  font-weight: 100;
  color: rgb(140, 137, 137);
  left: -4rem;
  top: 29rem;
  font-size: 1.25rem;
  position: absolute;
  top: 17.5rem;
  left: -2rem;
}

.skill_sphere {
  position: relative;
  left: 16rem;
}

.about_me_skills svg {
  position: relative;
  top: 8rem;
  right: 11rem;
  color: #1C494C;
  width: 2rem;
  height: 2rem;
}

.about_me_skills svg:last-of-type {
  height: 2rem;
  width: 2rem;
  top: 10rem;
  right: 13rem;
}

.sphere_info {
  position: relative;
  top: 8rem;
  right: 12rem;
  color: #1C494C;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 300;
}

.about_content p {
  color: #1C494C;
  margin-bottom: 1.5rem;
  font-size: 18px;
  font-family: "Bitter", serif;
  font-weight: 400;
  font-style: normal;
}

.about_content h3 {
  color: #1C494C;
  margin-bottom: 1.5rem;
  padding-bottom: 3rem;
  font-family: "Bitter", serif;
  font-weight: 100;
  font-style: normal;
}

.about_content p:first-of-type::before {
  content: "<p>";
  font-family: "La Belle Aurore", cursive;
  font-weight: 100;
  color: rgb(140, 137, 137);
  left: -4rem;
  top: 8rem;
  font-size: 1.25rem;
  position: absolute;
}

.about_content p:last-of-type::after {
  content: "</p>";
  font-family: "La Belle Aurore", cursive;
  font-weight: 100;
  color: rgb(140, 137, 137);
  left: -4rem;
  top: 29rem;
  font-size: 1.25rem;
  position: absolute;
}

.about_content h3:first-of-type::before {
  content: "<h3>";
  font-family: "La Belle Aurore", cursive;
  font-weight: 100;
  color: rgb(140, 137, 137);
  left: -4rem;
  top: -1.5rem;
  font-size: 1.25rem;
  position: absolute;
}

.about_content h3:first-of-type::after {
  content: "</h3>";
  font-family: "La Belle Aurore", cursive;
  font-weight: 100;
  color: rgb(140, 137, 137);
  left: -4rem;
  top: 5rem;
  font-size: 1.25rem;
  position: absolute;
  top: 7rem;
}

.scroll-animation {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 10rem;
  color: #1C494C;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 100;
  -webkit-animation-name: bounce;
          animation-name: bounce;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.scroll-animation > span {
  padding: 5px;
}

.vertical_line {
  content: "";
  height: 200px;
  width: 0.5px;
  padding-top: 2px;
  position: relative;
  display: block;
  background-color: #1C494C;
}

@-webkit-keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(20px);
  }
}

@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(20px);
  }
}
.about_me_panels {
  display: none;
  position: relative;
  top: 25rem;
  z-index: 0;
}

.about_me_skills {
  display: flex;
  position: relative;
  top: 45rem;
  z-index: 0;
}

.about_me_history {
  display: flex;
  position: relative;
  top: 25rem;
  z-index: 0;
}

.cityscapes {
  position: relative;
  top: 5rem;
  left: 20rem;
}

.cityscape_kochi {
  position: relative;
  right: 5rem;
}

.cityscape_balloon {
  position: relative;
  right: 37rem;
  top: 2rem;
}

.cityscape_dublin {
  position: relative;
  top: 15rem;
  right: 24rem;
}/*# sourceMappingURL=AboutMe.css.map */