@import url("https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@500;700&display=swap");
*,
*::before,
*::after {
  box-sizing: inherit;
}

.about_me_page {
  min-height: 100vh;
  position: relative;
  width: 100%;
  background-color: #000;
  font-family: "Bitter", serif;
  overflow-y: overlay;
}

.about_me_content > h1 {
  font-size: 4.8rem;
  position: relative;
  color: white;
  text-align: justify;
  font-family: "Bitter", serif;
  left: 6rem;
}

.about_me_main {
  display: flex;
  position: relative;
  top: 12rem;
  z-index: 0;
}

.about_me_content > h1::before {
  content: "<h2>";
  font-family: "La Belle Aurore", cursive;
  font-weight: 100;
  color: rgb(79, 77, 77);
  left: -4rem;
  font-size: 1.25rem;
  bottom: 4rem;
  position: absolute;
}

.a:hover {
  color: "#9bdabe!important";
}

.about_underline {
  content: "";
  position: relative;
  left: 12rem;
  height: 4px;
  display: block;
  margin-top: 1px;
  width: 3.5rem;
  bottom: 1rem;
  background: #9bdabe;
  left: 6rem;
}

.about_me_content > h1::after {
  content: "</h2>";
  font-family: "La Belle Aurore", cursive;
  font-weight: 100;
  color: rgb(79, 77, 77);
  left: -4rem;
  top: 5rem;
  font-size: 1.25rem;
  position: absolute;
}

.about_dot {
  content: ".";
  font-family: "Bitter", serif;
  border-radius: 8px;
  height: 13px;
  width: 13px;
  display: block;
  position: relative;
  bottom: 1.6rem;
  background: #9bdabe;
  bottom: 2rem;
  left: 28rem;
}

.about_content {
  position: relative;
  line-height: 1.5;
  top: 4rem;
  width: 50%;
  left: 12rem;
  font-size: 1.3rem;
  text-align: left;
  font-family: "Bitter", serif;
}

.about_content p {
  color: white;
  margin-bottom: 1.5rem;
  font-size: 18px;
  font-family: "Bitter", serif;
  font-weight: 400;
  font-style: normal;
}

.about_content h3 {
  color: white;
  margin-bottom: 1.5rem;
  padding-bottom: 3rem;
  font-family: "Bitter", serif;
  font-weight: 700;
  font-style: normal;
}

.about_brief_history {
  position: relative;
  top: 14rem;
  left: 5rem;
  width: 50%;
}

.about_brief_history h3 {
  color: white;
  font-family: "Bitter", serif;
  font-size: 2rem;
}

.about_brief_history h3:first-of-type::before {
  content: "<h3>";
  font-family: "La Belle Aurore", cursive;
  font-weight: 100;
  color: rgb(79, 77, 77);
  left: -4rem;
  top: -1.5rem;
  font-size: 1.25rem;
  position: absolute;
  left: 10rem;
}

.about_brief_underline {
  content: "";
  position: relative;
  left: 12rem;
  height: 4px;
  display: block;
  margin-top: 1px;
  width: 3.5rem;
  margin-top: 5px;
  left: 6rem;
}

.about_brief_history h3:last-of-type::after {
  content: "</h3>";
  font-family: "La Belle Aurore", cursive;
  font-weight: 100;
  color: rgb(79, 77, 77);
  left: -4rem;
  top: 5rem;
  font-size: 1.25rem;
  position: absolute;
  left: 10rem;
  top: 3rem;
}

.about_content p:first-of-type::before {
  content: "<p>";
  font-family: "La Belle Aurore", cursive;
  font-weight: 100;
  color: rgb(79, 77, 77);
  left: -4rem;
  top: 8rem;
  font-size: 1.25rem;
  position: absolute;
}

.about_content p:last-of-type::after {
  content: "</p>";
  font-family: "La Belle Aurore", cursive;
  font-weight: 100;
  color: rgb(79, 77, 77);
  left: -4rem;
  top: 29rem;
  font-size: 1.25rem;
  position: absolute;
}

.about_content h3:first-of-type::before {
  content: "<h3>";
  font-family: "La Belle Aurore", cursive;
  font-weight: 100;
  color: rgb(79, 77, 77);
  left: -4rem;
  top: -1.5rem;
  font-size: 1.25rem;
  position: absolute;
}

.about_content h3:first-of-type::after {
  content: "</h3>";
  font-family: "La Belle Aurore", cursive;
  font-weight: 100;
  color: rgb(79, 77, 77);
  left: -4rem;
  top: 5rem;
  font-size: 1.25rem;
  position: absolute;
}

.history_tiles {
  display: flex;
  width: 80rem;
  position: relative;
  top: 8rem;
  left: 3rem;
  color: white;
  gap: 10px;
}

.history_tiles div {
  margin: auto;
  background-color: #222;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.history_tile {
  position: relative;
  left: 2rem;
  background-color: #222;
  width: 20rem;
  height: 14rem;
}

.history_tiles div:last-of-type {
  width: 20rem;
  height: 14rem;
}

.history_tiles :nth-child(2) {
  width: 40rem;
  height: 14rem;
}

.timeline {
  position: relative;
  top: 4rem;
  left: 16rem;
  width: 1000px;
  height: 700px;
}/*# sourceMappingURL=AboutMe.css.map */