@import "../styles/Variables/Variables.scss";


*,
*::before,
*::after {
    box-sizing: inherit;
}

.contact_page {
    min-height: 130vh;
    height: 100vh;
    position: relative;
    width: 100%;
    background-color: transparent;
    top: 9rem;
}

#contact-form ul li.half:first-child {
    margin-left: 0;
}

.contact_info{
width: 50vw;
padding-top: 5rem;
display: block;
position: relative;
left: 6rem;
}

.contact_page > h1 {
    @include section;
    color: #47430b;
}

.contact_page > h1::before {
    @include h2TagOpen

}

.contact_page>h1::after {
    @include h2TagClose

}

.tags {
    color: $htmlcolortags;
    font-style: italic;
    font-weight: 500;
    left: 11rem;
    position: absolute;
    font-size: 1.3rem;
    font-family: $tags-Font;
}


.contact_underline {
    @include  underline;
    background:  #ff5708;
}

.contact_dot {
    @include dot;
    background: #ff5708;
    left: 27rem;
    bottom: 2rem;
}

@media(max-width: 700px){
    .contact_page{
        height: 150vh;
    }

    .contact_page > h1{
        font-size: 2.8rem;
    }
}

