
@import '../styles/Variables/Variables.scss';

*,
*::before,
*::after {
    box-sizing: inherit;
}

.button_main_contact {
    position: relative;
    top: 18rem;
    right: -12rem;
    z-index:4;
    text-align: justify;
    width: 15rem;
}

.button_main_contact > button {
    width: 15rem;
    height: 7vh;
    font-family: $Font-content;
}

.button_main_contact::before {
    content: '<button>';
    font-family: $tags-Font;
    color: $htmlcolortags;
    left: -4rem;
    font-size: 1.25rem;
    bottom: 3.5rem;
    position: absolute;

}

.button_main_contact::after {
    content: '</button>';
    font-family: $tags-Font;
    color: $htmlcolortags;
    left: -4rem;
    font-size: 1.25rem;
    top: 4rem;
    position: absolute;

}
