@import "../styles/Variables/Variables.scss";

*,
*::before,
*::after {
  box-sizing: inherit;
}

.mainPage-content {
  position: relative;
  bottom: 58rem;
}

.mainPage-content > h2 {
  font-size: 3.8rem;
  position: relative;
  font-family: $content-fonts;
  color: #070d55;
  text-align: justify;
  left: 6rem;
}

.mainPage-content > h2::before {
  @include h2TagOpen;
}

.mainPage-content > h2::after {
  @include h2TagClose;
}

.mainPage-content::after {
  content: "";
  position: absolute;
  left: 11%;
  top: 150%;
  width: 80rem;
  background: black;
  opacity: 0.435;
  height: 1px;
}

.main_dot {
  @include dot;
  background: #88cdec !important;
  bottom: 1.4rem;
  left: 20.5rem !important;
}

.more_links_dot {
  @include dot;
  background: #88cdec !important;
  bottom: 1.2rem;
  left: 57.8rem !important;
}

.main_underline {
  @include underline;
  bottom: 0.5rem;
  background: #88cdec;
  left: 6rem;
  width: 10.5rem;
}

.mainPage-message {
  position: relative;
  display: flex;
  align-items: center;
  gap: 3rem;
  top: 6rem;
  left: 10%;
  line-height: 1.5;
  width: 80%;
  text-align: left;
}

.mainPage-message > * {
  font-size: 1.5rem;
  font-family: $content-fonts;
  font-weight: 300;
  color: #070d55;
}

.mainPage-message svg {
  font-size: 3.5rem;
  animation-name: bouncer;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes bouncer {
  from {
    transform: translateX(-40px);
  }

  to {
    transform: translateX(20px);
  }
}

.mainPage-message > button {
  padding: 3px;
  text-align: center;
  width: 20rem;
}

.mainPage-message span:first-of-type {
  position: relative;
  margin: 10px;
  width: 50%;
  text-align: left;
}

.mainPage-message button {
  border-radius: 6px;
}

.mainPage-message span::before {
  @include para;
  top: -2rem;
  left: -2rem;
}

.mainPage-message span::after {
  @include paraEnd;
  top: 6.5rem;
  left: -2rem;
}

.home-page-button {
  display: flex;
  gap: 10rem;
  position: relative;
  align-items: center;
  top: 30rem;
  left: 20rem;
}

.home-page-button svg {
  font-size: 3.5rem;
}

.button-52 {
  font-size: 20px;
  font-weight: 200;
  height: 3rem;
  width: 20rem;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  background-color: #88cdec;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  z-index: 2;
}

.button-52::after {
  content: "";
  border: 5px solid black;
  border-radius: 10px;
  width: 98%;
  z-index: -1;
  position: absolute;
  height: 94%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.button-52:hover::after {
  top: 0px;
  left: 0px;
  background-color: rgb(193, 193, 193);
}

.more_links {
  position: relative;
  top: 25rem;
  right: 40rem;
}
.more_links > div {
  font-size: 2.5rem;
  font-family: $content-fonts;
  font-weight: bold;
  color: #070d55;
}

@media (min-width: 768px) {
  .button-52 {
    padding: 13px 50px 13px;
  }
}

@media screen and (max-width: 512px) {
  .mainPage-content > h2 {
    font-size: 2rem !important;
    left: 3rem !important;
  }

  .mainPage-content > h2::before{
    font-size: 1rem !important;
    bottom: 2rem !important;
    left: -2rem !important;
  }

  .mainPage-content > h2::after{
    font-size: 1rem !important;
    top: 3rem !important;
    left: -2rem !important;
  }

  .mainPage-content{
    bottom: 40rem !important;
  }

  .main_underline{
    width: 4rem;
    left: 3rem !important;
  }

  .main_dot{
    left: 11rem !important;
    height: 7px !important;
    width: 7px !important;
    bottom: 0.6rem !important;
  }

}

@media (min-width: 1000px){
  .mainPage-content h2 {
    font-size: 1.5rem !important;
  }
}
