@import "../styles/Variables/Variables.scss";

*,
*::before,
*::after {
    box-sizing: inherit;
}




.mainPage-content {
    position: relative;
    bottom: 58rem;
}


.mainPage-content > h2{
    font-size: 3.8rem;
    position: relative;
    font-family: $Font-content;
    color: #070d55;
    text-align: justify;
    left: 6rem;
}

.mainPage-content > h2::before{
    @include h2TagOpen;
}

.mainPage-content > h2::after{
    @include h2TagClose;
}

.main_dot {
    @include dot;
    background: #88CDEC !important;
    bottom: 1.8rem ;
    left: 22.5rem !important;
}

.main_underline{
    @include underline;
    bottom: 0.5rem;
    background: #88CDEC;
    left: 6rem;
    width: 10.5rem
}

.mainPage-message{
    position: relative;
    top: 6rem;
    left: 10%;
    line-height: 1.5;
    width: 80%;
    text-align: left;
}

.mainPage-message > * {
    font-size: 1.2rem;
    font-family: $content-fonts;
    font-weight: 300;
    color: #070d55;
}

.mainPage-message > div {
    padding: 3px;
    text-align: center;
    display: flex;
}

.mainPage-message span:first-of-type {
    position: relative;
    margin: 10px;
    width: 50%;
    text-align: left;
}

.mainPage-message button{
    border-radius: 6px;
}

.mainPage-message span::before {
    @include para;
    top: -2rem;
    left: -2rem;

}

.mainPage-message span::after {
    @include paraEnd;
    top: 4.5rem;
    left: -2rem;

}





