@import url("https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
*,
*::before,
*::after {
  box-sizing: inherit;
}

.my-work {
  position: relative;
  min-height: 100vh;
  height: 300vh;
  top: 10rem;
}

.my-works {
  width: 100%;
}

.my-work h1 {
  font-size: 4.8rem;
  position: relative;
  color: #021963;
  text-align: justify;
  font-family: "Bitter", serif;
  left: 6rem;
}

.my-work h1::before {
  content: "<h2>";
  font-family: "La Belle Aurore", cursive;
  font-weight: 100;
  color: rgb(140, 137, 137);
  left: -4rem;
  font-size: 1.25rem;
  bottom: 4rem;
  position: absolute;
}

.my-work h1::after {
  content: "</h2>";
  font-family: "La Belle Aurore", cursive;
  font-weight: 100;
  color: rgb(140, 137, 137);
  left: -4rem;
  top: 5rem;
  font-size: 1.25rem;
  position: absolute;
  top: 6rem;
}

.work_underline {
  content: "";
  position: relative;
  left: 12rem;
  height: 4px;
  display: block;
  margin-top: 1px;
  width: 3.5rem;
  bottom: 0.5rem;
  background: #F67796;
  left: 7rem;
  width: 6.5rem;
}

.work_dot {
  content: ".";
  font-family: "Bitter", serif;
  border-radius: 8px;
  height: 13px;
  width: 13px;
  display: block;
  position: relative;
  bottom: 1.6rem;
  background: #F67796;
  bottom: 2rem;
  left: 21rem;
}

.works-subheader {
  position: relative;
  line-height: 1.5;
  top: 7rem;
  width: 70%;
  left: 12rem;
  font-size: 1.3rem;
  text-align: left;
  font-family: "Bitter", serif;
}

.works-subheader > h3 {
  color: #021963;
  margin-bottom: 1.5rem;
  padding-bottom: 3rem;
  font-family: "Bitter", serif;
  font-weight: 100;
  font-style: normal;
}

.works-subheader > h3::before {
  content: "<h3>";
  font-family: "La Belle Aurore", cursive;
  font-weight: 100;
  color: rgb(140, 137, 137);
  left: -4rem;
  top: -1.5rem;
  font-size: 1.25rem;
  position: absolute;
}

.works-subheader > h3::after {
  content: "</h3>";
  font-family: "La Belle Aurore", cursive;
  font-weight: 100;
  color: rgb(140, 137, 137);
  left: -4rem;
  top: 5rem;
  font-size: 1.25rem;
  position: absolute;
  top: 7rem;
}

.scroll-animation-work {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 8rem;
  color: #1C494C;
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  -webkit-animation-name: bounce;
          animation-name: bounce;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.scroll-animation-work > span {
  padding: 5px;
}

.vertical_line-work {
  content: "";
  height: 200px;
  width: 0.5px;
  padding-top: 2px;
  position: relative;
  display: block;
  background-color: #1C494C;
}

@-webkit-keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(20px);
  }
}

@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(20px);
  }
}/*# sourceMappingURL=MyWork.css.map */