@import "../styles/Variables/Variables.scss";


.avatar {
    width: 60vw;
    height: auto;
    position: absolute;
    max-width: 465px;
    top: 45%;
    left: 70%;
    transform: translate(-50%, -50%);
    transform-origin: bottom center;
    backface-visibility: hidden;
    will-change: transform;
}
.avatar_animwrap{
    max-width: 575px;
    top: 45%;
    left: 70%;
}
.svg-fill {
    fill: $themecolor ;
}

.svg-pattern{
    fill: $themecolor;
}

.svg-fill-stroke{
    fill: white;
}

.svg-bg{
   fill: $whitecolor;
}